<!Doctype html>
<html xmlns:th="http://thymeleaf.org" >
<head>
    <head th:replace="layout :: site-head">
        <title>Spring MVC</title>
    </head>
    <header th:replace="layout :: logged-out"></header>
    <!--             replace replaces the rest of the html content with the given "layout.html" file-->
    <!--             and logged-out is the fragment used by thymeleaf-->
<body>
<h1>All Technical Posts</h1>
<main id="posts">
    <post th:each="p : ${posts}">
        <h2 th:text="${p.title}"></h2>
        <i>Posted On:</i><span th:text="${p.date}"></span>
        <div>
            <p th:text="${p.body}"></p>
        </div>
    </post>

</main>
</body>
</html>