<!Doctype html>
<html xmlns:th="http://thymeleaf.org">
        <head th:fragment="site-head"><title>
                Spring MVC
                </title>
        </head>
    <body>
        <header th:fragment="logged-out" th:remove="tag">
            <header>
                <div>
                    <p><a href="users/login.html" th:href="@{/users/login}">Login</a></p>
<!--                 th:href contacts the controller users/login and responds to it.-->
                    <p><a href="users/registration.html" th:href="@{/users/registration}">Registration</a></p>
<!--                th:href contacts the controller users/registration and responds to it.-->
                </div>
            </header>
        </header>
        <header th:fragment="logged-in" th:remove="tag">
            <header>
                <a href="posts/create.html" th:href="@{/posts/newPost}">Add New Post</a>
                <form method="post" th:action="@{/users/logout}">
                    <input type="submit" value="Logout"/>
                </form>
            </header>
        </header>
    </body>
</html>